/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .container {
    max-width: 100%; /* Adjust as needed */
    padding: 10px;
  }

  header {
    padding: 10px 0;
  }

  .profile-info {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    text-align: center; /* Center the navigation links */
  }

  nav ul li {
    display: inline; /* Set list items back to inline */
    margin-right: 10px; /* Add some spacing between list items */
  }

  .profile-details {
    flex-direction: column;
    align-items: center; /* Center profile details */
  }

  .profile-picture {
    margin: 0 auto; /* Center the profile picture */
    margin-bottom: 20px; /* Add spacing between profile picture and contact info */
    text-align: center; /* Center profile picture (if needed) */
  }

  .profile-picture img {
    width: 100%; /* Make profile pictures fill container width */
  }

  .contact-info {
    text-align: center; /* Center contact information */
  }
}
